/* general */
body {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    margin: 20px;
    color: #333;
}

h1 {
    color: #fff;
    padding-bottom: 20px;
}

a, #numbers span {
    color: #f55b2c;
    border-bottom: 1px solid #e0e2e1;
    text-decoration: none;
    margin-top: -1px;
    padding: 1px;
}

a:hover, #numbers span:hover, #numbers span.active {
    color: #131313;
    background-color: #fff;
    border-color: #f55b2c;
    outline: none;
}

/* frontend block styling */
.block {
    width: 220px;
    height: 195px;
    float: left;
    background: #ffffff;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    position: relative;
}

.block:hover {
    background: #ccc;
}

.big-block {
    overflow: visible;
    float: left;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    padding: 70px;
}

#inner {
    background-image: url(../images/box_bg.png);
}

#loader {
    position: absolute;
    top: 75px;
    left: 100px;
}

#pane {
    position: relative;
    min-width: 690px;
    overflow: hidden;
}

#page-header {
    overflow: hidden;
}

#company {
    float: left;
    font-size: 3.8em;
    margin: 2px 0 8px 0;
}

#company span {
    color: #4a4a4a;
}

#social {
    float: right;
    padding-top: 12px;
    width: 110px;
    text-align: right;
}

#social a {
    border: 0 none;
    outline: none;
}

#social a:hover {
    border: 0 none;
    background: none;
}

.image-container img {
    width: 100%;
    cursor: pointer;
}

.block .image-container {
    height: 140px;
    margin: 10px;
    overflow: hidden;
}

.big-block .image-container {
    height: auto;
    margin: 10px 60px;
}

.name {
    padding: 0 20px;
    font-size: 1.2em;
    color: #333;
    font-weight: normal;
    margin: 0;
}

.item-text {
    margin: 0 60px 60px;
    padding-top: 12px;
    font-size: 1.2em;
    line-height: 1.4;
    color: #333;
    overflow-x: hidden;
}

#header .name {
    padding: 60px 60px 0;
    font-size: 1.6em;
}

#close {
    float: right;
    margin: -15px;
    cursor: pointer;
}

/* slideshow */
.slideshow {
    position:relative;
    margin: 30px 60px 10px;
    height: 280px;
    overflow: hidden;
}

.slideshow img {
    position:absolute;
    top:0;
    left:0;
    z-index:98;
}

.slideshow img.current {
    z-index:100;
}

.slideshow img.last-current {
    z-index:99;
}

#numbers {
    text-align: center;
}
#numbers span {
    margin: 0 2px;
    padding: 0 4px;
    font-size: 1.3em;
    cursor: pointer;
}

/* footer */
#footer {
    float: right;
    padding: 20px 0;
    width: 220px;
    text-align: right;
    color: #666;
    font-size: 1.1em;
}

/* debuger window */
#debug {
    background: #fff;
    color: red;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 160px;
    padding: 0 10px;
    font-size: 1.2em;
}

/* contact form */
#form {
    margin-left: -4px;
}

#form #message {
    width: 410px;
    height: 120px;
    font-family: Arial, Helvetica, sans-serif;
}
#form input, #form textarea  {
    font-size: 11px;
    color: #333;
    border: 0 none;
    background: #fff;
    margin-bottom: 10px;
    padding: 4px;
    outline: none;
}

#form textarea  {
    padding-left: 8px;

}

#form a {
    margin-right: 4px;
}

#confirmation {
    float: right;
    padding-right: 6px;
}

#reset-form {
    padding-left: 4px;
}