/* frontend block styling */
body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: arial, sans-serif;
    background: #000000;
}

.block {
    width: 220px;
    height: 195px;
    float: left;
    background: #ffffff;
    margin: 0 10px 10px 0;
}

.big-block {
    overflow: visible;
    float: left;
    background: #ffffff;
    margin: 0 10px 10px 0;
}

#pane {
    position: relative;
    min-width: 690px;
}

.image-container img {
    width: 100%;
}

.block .image-container {
    height: 140px;
    margin: 10px;
    overflow: hidden;
}

.big-block .image-container {
    height: auto;
    margin: 10px 20px;
}

.name {
    padding: 0 20px;
    font-size: 1.2em;
}

.item-text {
    padding: 10px 20px;
    font-size: 1.2em;
}

#header .name {
    font-family: Georgia;
    padding: 20px;
    font-size: 2.4em;
}

#close {
    float: right;
    margin: 20px;
    cursor: pointer;
}

#debug {
    background: #fff;
    color: red;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 130px;
    padding: 0 10px;
    font-size: 1.2em;
}
