/* general */
body {
    margin: 0;
    font-size: 62.5%;
    font-family: arial, sans-serif;
    background: #333;
    padding: 20px;
}

h1 {
    color: #fff;
    padding-bottom: 20px;
    font-family: 'Istok Web', sans-serif;
}

a {
    color: #f55b2c;
    border-bottom: 1px solid #e0e2e1;
    text-decoration: none;
    margin-top: -1px;
    padding: 1px;
}

a:hover {
    color: #131313;
    background-color: #fff7a5;
    border-color: #f55b2c;
    outline: none;
}

/* frontend block styling */
.block {
    width: 220px;
    height: 195px;
    float: left;
    background: #ffffff;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    position: relative;
}

.block:hover {
    background: #ccc;
}

.big-block {
    overflow: visible;
    float: left;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    border: 70px solid #fff;
    background-image: url(../images/box_bg.png);

}

#loader {
    position: absolute;
    top: 45px;
    left: 78px;
}

#pane {
    position: relative;
    min-width: 690px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    cursor: pointer;
}

.block .image-container {
    height: 140px;
    margin: 10px;
    overflow: hidden;
}

.big-block .image-container {
    height: auto;
    margin: 10px 60px;
}

.name {
    padding: 0 20px;
    font-size: 1.2em;
    font-family: 'Istok Web',sans-serif;
    color: #333;
}

.item-text {
    margin: 12px 60px 60px;
    overflow: hidden;
    font-size: 1.2em;
    line-height: 1.4;
    color: #333;
}

#header .name {
    padding: 60px 60px 0;
    font-size: 1.6em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#close {
    float: right;
    margin: -15px;
    cursor: pointer;
}

/* slideshow */
.slideshow {
    position:relative;
    width: 640px;
    margin: 0 20px;
    height: 400px;
    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
}

.slideshow img {
    position:absolute;
    top:0;
    left:0;
    z-index:98;
}

.slideshow img.current {
    z-index:100;
}

.slideshow img.last-current {
    z-index:99;
}
#controls {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: #000;
    opacity: 0.7;
    z-index: 200;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    display: none;
    border-radius: 5px 0 0 0;
}

#next, #autoplay {
    cursor: pointer;
}

#next {
    margin-right: 10px;
}

/* footer */
#footer {
    color: #fff;
    text-align: right;
    padding: 20px 40px 0 0;
}

/* debuger window */
#debug {
    background: #fff;
    color: red;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 160px;
    padding: 0 10px;
    font-size: 1.2em;
}
